a {
  text-decoration: none;
}

/* 全体 */
.main {
  background: #f8f8f8;
}

/* 画面上部のstaviewsタイトル画像部分 */
.title-contents {
  width: 100vw;
  height: 800px;
  background-image: url('staviews-main.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 6vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}


/* //画面上部のstaviewsタイトル画像部分 */






/* 投稿一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  list-style-type: none; /* リストのマーカーを非表示にする */
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.item-img-content {
  display: flex;
  flex-wrap: wrap; /* 要素が親要素からはみ出した場合、次の行に折り返す */
  gap: 10px; /* 各アイテムの間に隙間を設定（必要に応じて調整） */
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.product-name {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.user-info-index{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */