/* 商品の概要 */

.item-show {
  background-color: #FFF;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-img-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-postage {
  font-size: 16px;
  margin-bottom: 20px;
}


.item-red-btn {
  text-align: center;
  background-color: orange;
  font-size: 24px;
  color: #FFF;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}


.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin: 30px 0px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 10px;
  width: 15vw;
  min-width: 200px;
  height: 5vh;
  color: #403B34;
  border: 2px solid #403B34;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.favorite-light-icon {
  margin-right: 5px;
}
/* /商品の概要 */


/* コメント一覧 */
.comments {
  padding: 5px;
  margin-top: 50px;
  background-color: #EDEBE9;
  width: 100%;
  border-radius: 15px; /* 角丸 */
}

.comments-index {
  display: flex;
  justify-content: flex-start;
  margin: 40px ;
}

.comments a {
  color: #9d876e;
  font-weight: bold;
}

.comments a:hover {
  text-decoration: underline;
}

.comment-user-info {
  font-size: 12px;
}

.comment-user-info-index {
  margin-right: 50px;
}

.comment-content {
  font-size: 18px;
  border: 2px solid #ccc; /* ボーダーのスタイル */
  background-color: #fbfaf8;
  padding: 10px; /* 内部の余白 */
  border-radius: 5px; /* 角丸 */
  margin-bottom: 10px; /* 各コメントボックスの下のマージン */
}

/* コメント投稿 */
.comment-box {
  margin: 1vh 0 2vh;
  text-align: center;
}

.comment-text {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
  border-radius: 5px; /* 角丸 */
}

.comment-warn {
  padding: 20px;
  font-size: 30px;
  margin: 10px 0px;
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
}

.no-comments-message {
  font-size: 20px;
  margin: 10px 0px;
  text-align: center;
}

.comment-btn {
  line-height: 48px;
  background-color: #403B34;
  border: 1px solid #403B34;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 10px;
  margin: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.comment-login-warn {
  padding: 20px;
  font-size: 20px;
  color: red;
  margin: 10px 0px;
  text-align: center;
}